<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style3.css">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">


    <style>
        .rating fa {
            display: inline-block;
        }

        .img-fluid {
            height: 10vh;
        }
    </style>
</header>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon toogle">
                    {{!-- <i class="fa-solid fa-bars"></i> --}}
                </div>
                <div class="sidebar-brand-text mx-3">Menu</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <li class="nav-item">
                <a class="nav-link" href="/admin" style="color: cornsilk;">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/products-admin">
                    <i class="fa-solid fa-bag-shopping"></i> <span>Products</span>
                </a>

            </li>



            <li class="nav-item">
                <a class="nav-link collapsed" href="/categories">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Categories
                        {{!-- <i class="fa-solid fa-chevron-down mt-1"style="float:right;font-size:90%"></i> --}}
                    </span>
                </a>
                {{!-- <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-primary  collapse-inner">
                        <a class="collapse-item" style="margin-left: 20%;" href="category">Add a Category</a>
                        <a class="collapse-item" style="margin-left: 20%;" href="categories">All Categories</a>
                    </div>
                </div> --}}
            </li>

           <li class="nav-item">
                <a class="nav-link collapsed" href="/orders/all" >
                   <i class="fa-solid fa-file"></i>
                    <span>Orders
                        {{!-- <i class="fa-solid fa-chevron-down mt-1"style="float:right;font-size:90%"></i> --}}
                        </span>
                </a>
                {{!-- <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-primary  collapse-inner">
                        <a class="collapse-item" style="margin-left: 20%;" href="category">Add a Category</a>
                        <a class="collapse-item" style="margin-left: 20%;" href="categories">All Categories</a>
                    </div>
                </div> --}}
            </li>


            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-gear"></i>
                    <span>Change password</span>
                </a>

            </li>
           

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/alogout" >
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Logout</span>
                </a>

            </li>

            <hr class="sidebar-divider d-none d-md-block">

            {{!-- <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> --}}

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->

                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item - Alerts -->
                      <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                            
                                <span class="badge badge-danger badge-counter">{{orderinfo.length}}</span>

                            </a>
                            <!-- Dropdown - Alerts -->

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">

                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>


                               {{#each orderinfo}}
                                <a class="dropdown-item  small text-gray-500" href="/singleorder/{{this._id}}">
                                    <span style="font-size:12px"><strong>Order No:</strong>{{this.orderno}}</span><br>
                                    <span style="font-size: 12px"><strong>Order Date: </strong>{{this.date}}</span>
                                    </a>
                                {{/each}}

                            </div>
                        </li>
                        <!-- alerts end -->
                          <div class="topbar-divider d-none d-sm-block"></div>

                       
                    </ul>


                </nav>



                <section id="" class="section-p1 container">

                    <div class="row">

                        <div class="col-6">
                            <div class="">
                                <img src="uploads/categories/{{singleproduct.pImage1}}" width="100%" id="MainImg"
                                    alt="..." />
                                <div class="small-img-grp">
                                    <div class="small-img-col">
                                        <img src="uploads/categories/{{singleproduct.pImage1}}" width="100%"
                                            id="small-img" alt="..." class="img-fluid" />
                                    </div>
                                    <div class="small-img-col">
                                        <img src="uploads/categories/{{singleproduct.pImage2}}" width="100%"
                                            id="small-img" alt="..." class="img-fluid" />
                                    </div>
                                    <div class="small-img-col">
                                        <img src="uploads/categories/{{singleproduct.pImage3}}" width="100%"
                                            id="small-img" alt="..." class="img-fluid" />
                                    </div>
                                    <div class="small-img-col">
                                        <img src="uploads/categories/{{singleproduct.pImage4}}" width="100%"
                                            id="small-img" alt="..." class="img-fluid" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <h6 style="margin:0 0 5% 0;color:grey"><span class="font-weight-bold">Product Category:
                                    </span>{{singleproduct.pCategory}}</h6>
                                <h4 style="margin:5% 0 5% 0"><span class="font-weight-bold">Product Name:
                                    </span>{{singleproduct.pName}}</h4>
                                <h4 style="margin:5% 0 5% 0"><span class="font-weight-bold">Product Price:
                                    </span>${{singleproduct.pPrice}}</h4>

                                <h5 style="color:black">Product Details:</h5>
                                <span class="details">{{singleproduct.pDescription}}</span>
                                <h6 style="color:black">Product Quantity: {{singleproduct.pQuantity}}</h6>
                                <h6 style="color:black">Product Status: {{singleproduct.pStatus}}</h6>

                                <form method="POST" action="del-product">
                                    <input type="text" style="display: none;" name="id" value={{id}}>
                                    <button type="submit" style="border:none;outline:none;display:inline-block"><a class="text-danger"
                                            href="products-admin/{{this._id}}" title="Delete Product"
                                            style="font-size:40px"><i class="fa-solid fa-trash"></i></a></button>
                                </form>

                                <a href="#" class="mr-3" href="#myModal" title="Edit Product" style="font-size:40px;display:inline-block"
                                    data-toggle="modal" data-target="#myModal"><i
                                        class="fa-solid fa-pen-to-square"></i></a>



                                <div id="myModal" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="/edit-product" method="post" enctype="multipart/form-data">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Add a Product</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    {{#if error}}

                                                    <div class="alert alert-danger alert-dismissible w-100">
                                                        {{error}}
                                                    </div>

                                                    {{/if}}
                                                    {{#if success}}

                                                    <div class="alert alert-success alert-dismissible w-100">
                                                        {{success}}
                                                    </div>

                                                    {{/if}}



                                                    <div class="form-group">
                                                        <input name="pId" value="{{id}}" type="text"  style="display: none;">
                                                        <label for="pName" class="" style="color:black">Product Name
                                                        </label>
                                                        <input type="text" class="form-control" id="pName" name="pName"
                                                            value="{{singleproduct.pName}}" title="Product Name" placeholder="{{singleproduct.pName}}" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pDescription" class="" style="color:black">Product
                                                            Details
                                                        </label>
                                                        <textarea type="text" class="form-control" id="pDescription"
                                                            name="pDescription" title="Product Description"
                                                            value="{{singleproduct.pDescription}}" placeholder="{{singleproduct.pDescription}}"  rows="5">{{singleproduct.pDescription}}</textarea>
                                                    </div>



                                                    <div class="form-group">
                                                        <label for="pImage1" class="" style="color:black">Product
                                                            Image 1</label>
                                                        <input type="file" class="form-control-file" id="pImage1"
                                                            name="pImage1" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pImage2" class="" style="color:black">Product
                                                            Image 2</label>
                                                        <input type="file" class="form-control-file" id="pImage2"
                                                            name="pImage2" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pImage3" class="" style="color:black">Product
                                                            Image 3</label>
                                                        <input type="file" class="form-control-file" id="pImage3"
                                                            name="pImage3" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pImage4" class="" style="color:black">Product
                                                            Image 4</label>
                                                        <input type="file" class="form-control-file" id="pImage4"
                                                            name="pImage4" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="pCat" style="color:black">Product Category</label>
                                                        <select type="text" class="form-control" id="pCategory"
                                                            name="pCategory">
                                                            {{#if categories}}
                                                            {{#each categories}}
                                                            <option class="text-dark" value="{{this.cName}}">
                                                                {{this.cName}}</option>
                                                            {{/each}}
                                                            {{/if}}

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pQuantity" style="color:black">Product
                                                            Quantity</label>
                                                        <input class="form-control" type="number" name="pQuantity" value="{{singleproduct.pQuantity}}"
                                                           placeholder="{{singleproduct.pQuantity}}" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pPrice" style="color:black">Product Price</label>
                                                        <input class="form-control" type="number" value="{{singleproduct.pPrice}}"name="pPrice" placeholder="{{singleproduct.pPrice}}"
                                                            >
                                                    </div>
                                                    <div class="form-group">

                                                        <label for="pStatus" style="color:black">Product Status</label>
                                                        <select class="form-control" id="pStatus" name="pStatus" value="{{singleproduct.pStatus}}">

                                                            <option class="text-dark" value="In-stock">In Stock</option>
                                                            <option class="text-dark" value="Out of stock">Out of stock
                                                            </option>

                                                        </select>

                                                    </div>
                                                    <input type="submit" value="Submit" class="form-control btn-danger">


                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>





    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>


    <script>

        $(document).ready(function () {
            $('#btn').click(function () {
                $('#btn').toggleClass("cart_clk");

            });
            $("#btn").one("click", function () {
                $('.cart .fa').attr('data-before', '1');
            });

            var prnum = $('.num').text();
            $('.inc').click(function () {
                if (prnum > 0) {
                    prnum++;
                    $('.num').text(prnum);
                    $('.cart .fa').attr('data-before', prnum);
                }

            });
            $('.dec').click(function () {
                if (prnum > 1) {
                    prnum--;
                    $('.num').text(prnum);
                    $('.cart .fa').attr('data-before', prnum);
                }

            });


        });
        const btn = document.getElementById('wish');
        const btn1 = document.getElementById('wishi');
        btn.addEventListener('click', function onClick() {
            if (btn.style.color == 'grey') {
                btn.style.color = "red";
            }
            else {
                btn.style.color = 'grey';
            }
        });
    </script>


</body>

</html>