<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />

    <style>

      wrapper { width: 100%; max-width: 31.25rem; margin: 6rem auto; } .label {
      font-size: .625rem; font-weight: 400; text-transform: uppercase;
      letter-spacing: +1.3px; margin-bottom: 1rem; } .searchBar { width: 100%;
      display: flex; flex-direction: row; align-items: center; }
      #searchQueryInput { width: 100%; height: 2.8rem; background: #f5f5f5;
      outline: none; border: none; border-radius: 1.625rem; padding: 0 3.5rem 0
      1.5rem; font-size: 1rem; } #searchQuerySubmit { width: 3.5rem; height:
      2.8rem; margin-left: -3.5rem; background: none; border: none; outline:
      none; margin-top:-1.5rem; } #searchQuerySubmit:hover { cursor: pointer; }
      .badge{ position:relative; left:-0.3rem; top:-1rem; font-size:12px;
      padding:3px; opacity: 0.9; }
      .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.close1:hover,
.close1.focus{
  color:wheat;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.bg{
    
    background-color:rgb(128, 115, 115);
}

    </style>
  </head>
  <body>

    <section class="">
      <section
        id="nav-bar"
        class=""
        style="background-color:rgb(128, 115, 115);"
      >
        <div class="container">
          <nav class="navbar navbar-expand-lg bg">
            <a class="navbar-brand text-white" href="/">DECORZ</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">

                {{#if firstName}}
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle text-white"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                    >

                      {{firstName}}

                    </a>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <a class="dropdown-item" href="/user/profile">Profile</a>
                      <a class="dropdown-item" href="/logout">Logout</a>

                    </div>

                  </li>
                {{else}}

                  <li class="nav-item active">
                    <a
                      class="nav-link text-white"
                      href="/signin"
                      style=""
                    >Login/Register</a>
                  </li>
                {{/if}}

                {{#if firstName}}
                        <li class="nav-item">
                            <a class="nav-link text-white " href="/user-order/{{id}}" style="">My orders</a>
                        </li>

                        {{/if}}

                <li class="nav-item">
                  <a class="nav-link nav-cart" href="/cart/{{email}}"><i
                      class="fa fa-lg text-warning"
                      style="font-size:30px"
                    >&#xf07a;</i>{{#if userinfo}}<span
                        class="badge badge-light"
                      >{{userinfo.cart.length}}</span>{{/if}}</a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </section>

      <section id="nav-bar" class="bg-light">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                  <div class="wrapper">

                    <div class="searchBar">
                      <input
                        id="searchQueryInput"
                        type="text"
                        name="searchQueryInput"
                        placeholder="Search"
                        value=""
                      />
                      <button
                        id="searchQuerySubmit"
                        type="submit"
                        name="searchQuerySubmit"
                      >
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path
                            fill="#666666"
                            d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#categories">Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#products">Products</a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </section>
    </section>
    <div id="loader"></div>
    <section class="summary mt-5">
      <div class="container">
        <form method="post" action="/checkout">
        <div class="row">
         
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  Address Details
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <label>Name</label>
                  <input name="name" class="form-control" type="text" value="{{userinfo.firstName}} {{userinfo.lastName}}" required>
                  </div>
                  <div class="col">
                    <label>Mobile Number</label>
                    <input name="mnumber" class="form-control" type="text" required>
                  </div>
                 
                  </div>
                  <div class="row mt-2">
                    <div class="col">
                      <label>Address</label>
                    <input name="address" class="form-control" type="text" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-4">
                <div class="card-header">
                  Payment Details
                </div>
                <div class="card-body">
                     <label>Account Number</label>
                    <input name="accountnumber" class="form-control" value="{{userinfo.accountnumber}}">
                    <div class="row mt-3">
                      <div class="col">
                    <label>Amount</label>
                    <input name="amount" class="form-control" value="{{total}}" readonly>
                    </div>
                   
                    </div>
                </div>
              </div>
            </div>
           
              

        <div class="col-md-4" style="position: sticky">
          <div class="card">
            <div class="card-header">SUMMARY</div>
            <div class="card-body">
              <div>
                <div style="display: inline-block">SUBTOTAL</div>
                <div
                  class="text-right"
                  style="display:inline-block;float:right"
                >{{subtotal}}</div>
              </div>
              <div class="py-3">
                <div style="display: inline-block">SHIPPING</div>
                <div
                  class="text-right"
                  style="display:inline-block;float:right"
                >80.00</div>

              </div>
              <hr style="border:1px dotted black" />
              <div>
                <div style="display: inline-block">TOTAL</div>
                <div
                  class="text-right"
                  style="display:inline-block;float:right"
                >{{total}}</div>
                <div class="popUpBtn  w-100 p-2 mt-2 border bg-dark text-white text-center" style="display: block;cursor:pointer" data-modal="myModal1">
                CONFIRM ORDER
      
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      
      </div>
      

    </section>


   <div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      
    </div>
    <div class="modal-body p-3">
      <div class="text-center">
      <img src="/images/bank.jpg " class="img-fluid rounded text-center" alt="bank" style="height: 100px;">
      </div>
      <div>
      <label>Please enter your secret pin</label>
       <input name="secretkey" class="form-control" type ="password">
       </div>
       <input class="close1 btn btn-lg btn-block" type="submit" onclick="myFunction()" value="Proceed" style="font-size:20px;font-weight:normal">
          </div>
        
    
  </div>

</div>
</form>
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      
    </div>
    <div class="modal-body p-3">
      <div class="text-center">
      <img src="/images/bank.jpg " class="img-fluid rounded text-center" alt="bank" style="height: 100px;">
      </div>
      <div>
      <label>Please enter your secret pin</label>
       <input name="secretkey" class="form-control" type="text">
       </div>
      <a href="/checkout2"  class="float-left" onclick="myFunction()"><input class="btn close close1" type="submit" value="Proceed" style="font-size:20px;font-weight:normal"></a>
          </div>
        
    
  </div>

</div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.min.js"></script>
    <script>
      $(document).ready(function(){
	$(window).bind('scroll', function() {
		var navHeight = $('.main-nav').height();
		if ($(window).scrollTop() > navHeight) {
			$('#nav-bar1').addClass('fixed-top');
           
            $('#nav-bar1').addClass('bg');
			//$('.nav-1').addClass('toleft');
            
		 }
		else {
			$('#nav-bar1').removeClass('fixed-top');
			//$('.nav-1').removeClass('toleft');
		 }
	});
});
     $(document).ready(function(){


	$('.popUpBtn').on('click', function(){
		$('#'+$(this).data('modal')).css('display','block');
	})


	$('.close').on('click', function(){
		$('.modal').css('display','none');
	})


	$(window).on('click', function(event){
		if (jQuery.inArray( event.target, $('.modal') ) != "-1") {
        	$('.modal').css('display','none');
    	}
	})



})
var myVar;
    
    function myFunction() {
        myVar = setTimeout(showPage, 3000);
      
    document.getElementById("loader").style.display="block";
    document.getElementsById("id1").style.display="none";
    
      
    }
    
    function showPage() {
        
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }


    </script>
  </body>
</html>