<!-- Sidebar -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style4.css">
    <style>
        .sidebar .nav-item .collapse,
        .sidebar .nav-item .collapsing {
            margin: 0 0rem;
        }

        .sidebar-dark .nav-item .nav-link .active {
            color: rgba(116, 70, 70, 0.8);
        }
       

    </style>
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon toogle">
                    {{!-- <i class="fa-solid fa-bars"></i> --}}
                </div>
                <div class="sidebar-brand-text mx-3">Menu</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <li class="nav-item">
                <a class="nav-link" href="/admin" >
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/products-admin">
                    <i class="fa-solid fa-bag-shopping"></i> <span>Products</span>
                </a>

            </li>



            <li class="nav-item">
                <a class="nav-link collapsed" href="/categories">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Categories
                        {{!-- <i class="fa-solid fa-chevron-down mt-1" style="float:right;font-size:90%"></i> --}}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/orders/all" style="color: cornsilk;">
                   <i class="fa-solid fa-file"></i>
                    <span>Orders
                        {{!-- <i class="fa-solid fa-chevron-down mt-1"style="float:right;font-size:90%"></i> --}}
                        </span>
                </a>
                {{!-- <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-primary  collapse-inner">
                        <a class="collapse-item" style="margin-left: 20%;" href="category">Add a Category</a>
                        <a class="collapse-item" style="margin-left: 20%;" href="categories">All Categories</a>
                    </div>
                </div> --}}
            </li>


           


            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-gear"></i>
                    <span>Change password</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/alogout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Logout</span>
                </a>

            </li>




            {{!--
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> --}}

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->

                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{orderinfo.length}}</span>

                            </a>
                            <!-- Dropdown - Alerts -->

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">

                                <h6 class="dropdown-header">
                                    Notifications
                                </h6>


                                {{#each orderinfo}}
                                <a class="dropdown-item  small text-gray-500" href="/singleorder/{{this._id}}">
                                   <span><strong>Order No:</strong>{{this.orderno}}</span>
                                      <span><strong>Order Date: </strong>{{this.date}}</span>
                                  
                                   </a>
                                {{/each}}

                            </div>
                        </li>

                        <!-- alerts end -->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        

                    </ul>


                </nav>
                <div class="container">
                    <h3>Order {{order.orderno}}</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-borderless ">


                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>








                                        {{#each order.allProduct}}
                                        <tr class="border-bottom">

                                            <td class="">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img src="/uploads/categories/{{this.pImage}}" class="img-fluid"
                                                            style="height:100px">
                                                    </div>
                                                    <div class="col-8">
                                                        <span><strong>{{this.pName}}</strong></span><br>
                                                        <span class="pt-5">{{this.pCategory}}</span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="">
                                                <div class="row">
                                                    <div class="col">
                                                        <span>{{this.quantity}}</span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>${{this.amount}}</td>

                                        </tr>
                                        {{/each}}




                                    </table>
                                </div>
                            </div>
                            <div class="my-5">
                                <div class="card">
                                    <div class="card-header">Order Details</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <span><strong>Order Date: </strong></span>
                                                <span>{{order.date}}</span>
                                            </div>

                                        </div>
                                        {{#if e}}
                                        <div class="row">
                                            <div class="col-12">

                                                <span><strong>Transaction Id to Supplier: </strong></span>
                                                <span>{{order.transactionIds}}</span>

                                            </div>

                                        </div>
                                        {{/if}}
                                        <form method="post" action="/save-order">
                                        <input name="id" value="{{order._id}}" style="display: none;">
                                        <div class="row">
                                            <div class="col-6">
                                                <span><strong>Order Status: </strong></span>
                                                <select class="form-select" aria-label="Default select example" name="status" style="height:30px;border-radius:5%;outline:none">

                                                    <option name="status" value="Not processed" {{#if a}} selected {{/if}}>Not Processed</option>
                                                    <option name="status" value="Supplied" {{#if b}} selected {{/if}}>Supplied</option>
                                                    <option name="status" value="Shipped" {{#if c}} selected {{/if}}>Shipped</option>
                                                    <option name="status" value="Delivered" {{#if d}} selected {{/if}}>Delivered</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <input type="submit" value="Save order" class="bg-dark text-white"
                                                    style="float: right">
                                            </div>
                                        </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="my-5">
                                <div class="card">
                                    <div class="card-header">Payment Summary</div>
                                    <div class="card-body">
                                        <div>
                                            <div style="display: inline-block">SUBTOTAL</div>
                                            <div class="text-right" style="display:inline-block;float:right">
                                                {{subtotal}}.00</div>
                                        </div>
                                        <div class="py-3">
                                            <div style="display: inline-block">SHIPPING</div>
                                            <div class="text-right" style="display:inline-block;float:right">80.00</div>

                                        </div>
                                        <hr style="border:1px solid rgb(133, 130, 130)" />
                                        <div>
                                            <div style="display: inline-block">TOTAL</div>
                                            <div class="text-right" style="display:inline-block;float:right">
                                                {{order.amount}}.00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                                {{#if enot}}
                                
                                <div class="my-5">
                                     <div class="card">
                                        <div class="card-header">
                                            Payment
                                        </div>
                                        <form method="post" action="/payto-supplier">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Account Number</label>
                                                        <input type="text" name="accountnumber" class="form-control"
                                                            value="134784">
                                                    </div>
                                                    <div class="col-6">
                                                        <label>Amount</label>
                                                        <input type="number" name="amount" class="form-control"
                                                            value="{{subtotal}}" readonly>
                                                        <input type="text" name="reference" style="display:none"
                                                            value="{{order.transactionId}}">

                                                    </div>

                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <input type="submit" class="form-control bg-danger text-white"
                                                            value="Pay to Supplier">
                                                    </div>
                                                </div>



                                            </div>
                                        </form>
                                    </div>
                                </div>
                                

                            {{/if}}


                            
                        </div>
                        <div class="col-md-4">
                            
                            <div>
                                <form method="post" action="/request">
                                    
                                        {{#if t}}
                                        <div class="alert alert-success" role="alert">
                                            Supplier Accepts your request!
                                        </div>
                                        
                                        {{else}}
                                        <div class="card">
                                        <div class="card-header">Sent Request to Supplier</div>
                                        <div class="card-body">
                                            <label>Transaction Id</label>
                                            <input class="form-control" type="text" name="tid">
                                            <input class="" type="text" value="{{order.transactionId}}"
                                                name="reference" style="display: none">
                                            <input type="submit" class="form-control mt-3 bg-dark text-white"
                                                value="Sent Request">

                                        </div>
                                        
                                    </div>
                                    {{/if}}
                                        
                                </form>
                            </div>
                           

                            <div class="mt-5">
                                <div class="card">
                                    <div class="card-header">Customer Details</div>
                                    <div class="card-body">
                                        <div class="my-2">
                                            <span class="mt-5"><strong>Contact Info</strong></span>
                                        </div>
                                        <span><i class="fa-solid fa-user mr-2"></i>{{order.name}}</span><br>
                                        <span><i class="fa-solid fa-envelope mr-2"></i>{{order.user}}</span><br>
                                        <span><i class="fa-solid fa-phone mr-2"></i>0{{order.phone}}</span>
                                        <hr>
                                        <div class="my-3">
                                            <span><strong>Shipping address</strong></span>
                                        </div>
                                        <span><i class="fa-solid fa-location-dot mr-2"></i>{{order.address}}</span>

                                    </div>
                                </div>

                            </div>
                        </div>








                    </div>

                </div>
                <!-- End of Sidebar -->


                <script src="/js/jquery.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/all.min.js"></script>
                <script src="/js/sb-admin-2.min.js"></script>


</body>

</html>